@import url(https://fonts.googleapis.com/css?family=Montserrat);

.jumbotron{
	background: transparent;
	text-align: center;
	padding-top: 0;
	/*border-bottom: 1px solid #000;*/
}
.playlist{
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 2em;
}
.playlist h1{
	margin-left: 3%;
}
body{
	font-family: 'Montserrat', sans-serif;
	line-height: 200%;
	color: #b32400;
}
a:hover{
	outline: none;
	border: none;
	text-decoration: none;
}
h4{
	color: #b32400;
}
video{
	border: 3px solid #e2e2e2;
}
video:hover{
    -webkit-filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.80));
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-filter: drop-shadow(2px 2px 8px rgba(0, 231, 255, 0.8));
}
nav{
	color: red;
}
.diff{
	background: transparent;
	text-align: center;
	padding
}
nav{
	color: #b32400;
}