/*               Fonts     				  */

@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Lato);



* { padding: 0; margin: 0; }

/*               Top Page      				 */

.toppage
{
overflow:hidden;
position:relative;
height:100vh;
width:100%;
background-color:#B32400;
}

.toppagelogodiv
{
cursor: pointer; 
cursor: hand;
position:absolute;
margin-left:25%;
width:50%;
height:30vh;
margin-top:35vh;
}

.toppagelogotext                       /*Remove after logo is placed */
{
cursor: pointer;
border-top:2px solid #FFFFFF;
border-bottom:2px solid #FFFFFF;
margin-top:35vh;
text-align:center;
font-family: 'Montserrat', sans-serif;
font-size:120px;
color:#FFFFFF;
letter-spacing:-4px;
}

.toppageinfo
{
font-family: 'Lato', sans-serif;
font-size:30px;
color:#FFFFFF;
margin-top:10vh;
text-align:center;
}

.toppagelogo
{
width:100%;
height:100%;
}

.bottompage
{
display:none;
height:100vh;
width:100%;
}

/*               Header With Navbar      */



#headertop
{
text-align: center;
font-size:6vh;
width:100%;
background-color:#B32400;
height:7vh;
}


#opennavbutton
{
cursor: pointer;
margin-left:20px;
color:#FFFFFF;
float:left;
font-size:6vh;
}

#closenavbutton
{
cursor: pointer;
color:#FFFFFF;
display:none;
position:absolute;
left:75%;
font-size:6vh;
}

.bottompagelogotext      /*Remove after logo is placed */
{
display:inline-block;
color:#FFFFFF;
font-family: 'Montserrat', sans-serif;
}


#navbar
{
font-family: 'Lato', sans-serif;
position:fixed;
top:7vh;
left:-250px;
width: 75%;
max-width: 250px;
height: 93vh;
background-color:#ffffff;
overflow:auto;	
}

#navbar.animate-navbar
{
-webkit-animation-name: navbar-anime;
-webkit-animation-duration: 1s;
-webkit-animation-fill-mode: forwards;
-webkit-animation-direction: normal;
animation-name: navbar-anime;
animation-duration: 1s;
animation-fill-mode: forwards;
animation-direction: normal;
}

#navbar.rev-animate-navbar
{
-webkit-animation-name: rev-navbar-anime;
-webkit-animation-duration: 1s;
-webkit-animation-fill-mode: forwards;
-webkit-animation-direction: normal;
animation-name: rev-navbar-anime;
animation-duration: 1s;
animation-fill-mode: forwards;
animation-direction: normal;
}

@-webkit-keyframes navbar-anime 
{
0%   { left: -250px;box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);}
100% {left: 0px;     box-shadow: 200px 0px 35px 2000px rgba(0,0,0,0.5);}
}

@keyframes navbar-anime 
{
0%   { left: -250px;box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);}
100% {left: 0px;     box-shadow: 200px 0px 35px 2000px rgba(0,0,0,0.5);}
}


@-webkit-keyframes rev-navbar-anime 
{
0% {left: 0px;     box-shadow: 200px 0px 35px 2000px rgba(0,0,0,0.5);}
100%   { left: -250px;box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);}
}

@keyframes rev-navbar-anime 
{
0% {left: 0px;     box-shadow: 200px 0px 35px 2000px rgba(0,0,0,0.5);}
100%   { left: -250px;box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);}      
}

.top-box img
{
width: 100%;
height: 150px;
}

.menu-grp ul li
{
list-style:none;
text-decoration:none !important;
color:#4a4a4a;
cursor: pointer;
width: 100%;
text-align:center;
padding-top:10px;
padding-bottom:10px;
font-size: 20px;	
}

.menu-grp li:hover
{
-webkit-transition: background-color 0.2s ease-in-out;
transition: background-color 0.2s ease-in-out;
background-color: #B32400;
color:#FFFFFF;
}

.menu-grp li:active
{
-webkit-transition: background-color 0.2s ease-in-out;
transition: background-color 0.2s ease-in-out;
background-color: #cdcdcd;
}


/*               Responsive Media Queries       */



@media screen and (max-width: 768px)
{

.toppagelogotext                       /*Remove after logo is placed */
{
font-size:70px;
}

.toppageinfo
{
font-size:25px;
}

.menu-grp ul li
{
font-size:16px;
padding-top:10px;
padding-bottom:10px;
}

}


